<div formGroupName="address">
    <h2>Address</h2>
  
    <label for="street">Full Name: </label>
    <input id="street" type="text" formControlName="fullname">
  
    <label for="city">User Name: </label>
    <input id="city" type="text" formControlName="username">
  
    <label for="state">Email: </label>
    <input id="state" type="text" formControlName="email">
  
    <label for="zip">Phone Number: </label>
    <input id="zip" type="text" formControlName="phonenumber">

    <label for="zip">Password: </label>
    <input id="zip" type="password" formControlName="password">

    <label for="zip">Comfirm Password: </label>
    <input id="zip" type="password" formControlName="comfirm">  
  </div>
