<div class="container">
    <app-card title="Registration User Form" matCardSubtitle="Registration">
        <form [formGroup] ="userForm">
            <div class="row">
                <div class="col-md-6" >
                    <mat-form-field appearance="outline" class="w-100 example-full-width">
                        <mat-labe>First Name</mat-labe>
                     
                            <input matInput formControlName ="firstname" placeholder="firstname">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field  appearance="outline"  class="w-100 example-full-width">
                        <mat-labe>Last Name</mat-labe>
                        <input matInput formControlName ="lastname" placeholder="lastname">
                    </mat-form-field>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field  appearance="outline"  class="w-100 example-full-width">
                        <div [formGroup] ="userForm">
                        </div>
                        <div [formGroup] ="userForm">
                            <mat-labe>Address</mat-labe>
                        </div>
                        <input matInput formControlName ="address" placeholder="address">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field  appearance="outline"  class="w-100 example-full-width">
                        <div [formGroup] ="userForm">
                            <mat-labe>User Name</mat-labe>
                        </div>
                        <input matInput formControlName ="username" placeholder="username">
                    </mat-form-field>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field  appearance="outline"  class="w-100 example-full-width">
                        <div [formGroup] ="userForm">
                            <mat-labe>Gender</mat-labe>
                        </div>
                        <input matInput formControlName ="gender" placeholder="gender">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field  appearance="outline"  class="w-100 example-full-width">
                        <div [formGroup] ="userForm">
                            <mat-labe>Email</mat-labe>
                        </div>
                        <input type="email" matInput formControlName ="email" placeholder="email">
                    </mat-form-field>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field  appearance="outline"  class="w-100 example-full-width">
                        <div [formGroup] ="userForm">
                            <mat-labe>Password</mat-labe>
                        </div>
                        <input type="password" matInput formControlName ="password" placeholder="password">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field  appearance="outline"  class="w-100 example-full-width">
                        <div [formGroup] ="userForm">
                            <mat-labe>Confirm Password</mat-labe>
                        </div>
                        <input type="password" matInput formControlName ="confirmpassword" placeholder="confirmpassword">
                    </mat-form-field>
                </div>
            </div>
    
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field  appearance="outline"  class="w-100 example-full-width">
                        <div [formGroup] ="userForm">
                            <mat-labe>Date Of Birth</mat-labe>
                        </div>
                        <input type="date" matInput formControlName ="dateofbirth" placeholder="dateofbith">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field  appearance="outline"  class="w-100 example-full-width">
                        <div [formGroup] ="userForm">
                            <mat-labe>Phone Number</mat-labe>
                        </div>
                        <input matInput formControlName ="phonenumber" placeholder="phonenumber">
                    </mat-form-field>
                </div>
                
            </div>
        </form>
        <hr>
        <button mat-raised-button routerLink="/user_home" (click)="onSave()" [disabled]="userForm.invalid">Save</button>
    </app-card>
</div>
